//--colors--
$text-color:#222222;
$theme-color:#170a48;
$secondary-color:#f27731;
$link-color:$secondary-color;
$menu-item-color:white;
$terbary-color:#ccf962;

//--fonts--
$text-font: "Alegreya Sans",Arial,sans-serif;
$headline-font:"Titillium Web",Georgia,serif;

//--sizes--
$content-width:960px;
$header-height:60px;
$footer-height:90px;